<?xml version="1.0"?>

<config>
    <modules>
        <Shift4_Payment>
            <version>1.0.0.1</version>
        </Shift4_Payment>
    </modules>
    <global>
        <blocks>
            <shift4>
                <class>Shift4_Payment_Block</class>
            </shift4>
            <adminhtml>
                <rewrite>
                    <sales_order_creditmemo_create_items>Shift4_Payment_Block_Adminhtml_Sales_Order_Creditmemo_Create_Items</sales_order_creditmemo_create_items>
                </rewrite>
            </adminhtml>
        </blocks>
        <models>
            <shift4>
                <class>Shift4_Payment_Model</class>
                <resourceModel>shift4_payment_resource</resourceModel>
            </shift4>
            <shift4_payment_resource>
                <class>Shift4_Payment_Model_Resource</class>
                <entities>
                    <customerstored>
                        <table>shift4_payment_customer_stored</table>
                    </customerstored>				
                </entities>
            </shift4_payment_resource>
            <sales>
                <rewrite>
                    <quote_payment>Shift4_Payment_Model_Quote_Payment</quote_payment>              
                </rewrite>
            </sales>
        </models>
        <helpers>
            <shift4>
                <class>Shift4_Payment_Helper</class>
            </shift4>
        </helpers>
        <resources>
            <shift4_setup>
                <setup>
                    <module>Shift4_Payment</module>
                    <class>Mage_Core_Model_Resource_Setup</class>
                </setup>
            </shift4_setup>
        </resources>
        <events>
            <sales_quote_payment_import_data_before>
                <observers>
                    <shift4_payment>
                        <class>Shift4_Payment_Model_Observer</class>
                        <method>salesQuotePaymentImportDataBefore</method>
                    </shift4_payment>
                </observers>
            </sales_quote_payment_import_data_before>
            <sales_quote_payment_import_data_i4go>
                <observers>
                    <i4go_save_true_token_with_payment>
                        <type>singleton</type>
                        <class>Shift4_Payment_Model_Api</class>
                        <method>saveI4GoTokenWithPayment</method>
                    </i4go_save_true_token_with_payment>
                </observers>
            </sales_quote_payment_import_data_i4go>
            <checkout_submit_all_after>
                <observers>
                    <shift4_payment>
                        <class>Shift4_Payment_Model_Observer</class>
                        <method>checkoutSubmitAllAfter</method>
                    </shift4_payment>
                </observers>
            </checkout_submit_all_after>
            <admin_system_config_changed_section_payment>
                <observers>
                    <shift4_payment>
                        <type>singleton</type>
                        <class>Shift4_Payment_Model_Observer</class>
                        <method>adminSystemConfigSavePaymentActionForStoredCard</method>
                    </shift4_payment>
                </observers>
            </admin_system_config_changed_section_payment>     		
        </events>
        <fieldsets>
            <sales_convert_quote_payment>
                <i4go_true_token>
                    <to_order_payment>*</to_order_payment>
                </i4go_true_token>              
            </sales_convert_quote_payment>
        </fieldsets>
        <payment>
            <cc>
                <types>
                    <VS>
                        <code>VS</code>
                        <name>Visa</name>
                        <order>0</order>
                    </VS>
                    <MC>
                        <code>MC</code>
                        <name>MasterCard</name>
                        <order>10</order>
                    </MC>
                    <AX>
                        <code>AX</code>
                        <name>American Express</name>
                        <order>20</order>
                    </AX>
                    <DC>
                        <code>DC</code>
                        <name>Diners Club</name>
                        <order>30</order>
                    </DC>                                    
                    <NS>
                        <code>NS</code>
                        <name>Discover</name>
                        <order>40</order>
                    </NS>                   
                    <JC>
                        <code>JC</code>
                        <name>JCB</name>
                        <order>50</order>
                    </JC>
                    <YC>
                        <code>YC</code>
                        <name>Gift Card</name>
                        <order>1000</order>
                    </YC>
                </types>
            </cc>            
        </payment>   
    </global>

    <frontend>
        <translate>
            <modules>
                <Shift4_Payment>
                    <files>
                        <default>Shift4_Payment.csv</default>
                    </files>
                </Shift4_Payment>
            </modules>
        </translate>
        <routers>
            <shift4>
                <use>standard</use>
                <args>
                    <module>Shift4_Payment</module>
                    <frontName>shift4</frontName>
                </args>
            </shift4>
            <customer>
                <args>
                    <modules>
                        <shift4_payment before="Mage_Customer">Shift4_Payment_Customer</shift4_payment>
                    </modules>
                </args>
            </customer>
        </routers>
        <layout>
            <updates>
                <shift4>
                    <file>shift4.xml</file>
                </shift4>
            </updates>
        </layout>
    </frontend>
	
    <admin>
        <routers>
            <salesreport>
                <use>admin</use>
                <args>
                    <module>Shift4_Payment</module>
                    <frontName>salesreport</frontName>
                </args>
            </salesreport>
        </routers>
    </admin>
	
    <adminhtml>		        
        <layout>
            <updates>
                <shift4>
                    <file>shift4.xml</file>
                </shift4>
            </updates>
        </layout>
    </adminhtml>

    <default>
        <payment>
            <shift4_payment>
                <active>0</active>
                <title>Credit, Debit, or Gift Card (Shift4)</title>          
                <processing_mode>live</processing_mode>
                <use_utg>1</use_utg>
                <server_addresses>server1.dollarsonthenet.net</server_addresses>
                <model>shift4/securePayment</model>         
                <logging>all</logging>         
                <card_on_file>0</card_on_file>         
                <payment_action>authorize</payment_action>
                <order_status>processing</order_status>
                <useccv>1</useccv>
                <allowspecific>0</allowspecific>
                <cctypes>AX,VS,MC,DC,NS,JC,GC</cctypes>
                <currency>USD</currency>
                <auth_token/>
            </shift4_payment>
            <shift4_payment_cardsaved>
                <active>0</active>
                <title>My Saved Cards (Shift4)</title>          
                <model>shift4/userCardStored</model>
                <payment_action>authorize</payment_action>
                <useccv>1</useccv>                 
                <allowspecific>0</allowspecific>
                <cctypes>AX,VS,MC,DC,NS,JC,GC</cctypes>
                <currency>USD</currency>
            </shift4_payment_cardsaved>
        </payment>		
    </default>
</config>
